# TODO
app/tests/syncing.test.ts
app/tests/store.test.ts
app/tests/stations.test.ts
app/tests/replay.test.ts
app/tests/portal-sync.test.ts
# app/tests/portal-interface.test.ts
app/tests/notes.test.ts
app/tests/firmware.test.ts
app/tests/db.test.ts
app/tests/authentication.test.ts
*.test.js
fixtures.js
app/tests/setup.ts
app/tests/utilities.ts

# TODO
app/i18n/*
app/migrations/*.js
app/reader/FlowView.vue
# app/components/PlatformHeader.vue
# app/components/ScreenHeader.vue
# app/components/ScreenFooter.vue
# app/components/StationStatusBox.vue
# app/components/NotificationFooter.vue
app/components/AppSettingsUnitsView.vue
app/components/DiagnosticsModal.vue
app/components/SettingsItemSlider.vue
app/components/MapModal.vue
app/components/NotificationsView.vue
# app/components/LabeledTextField.vue
app/components/AppSettingsHelpView.vue
app/components/CircularProgressBar.vue
app/components/PortalWarning.vue
app/components/AppSettingsHelpAppVersionView.vue
app/components/SettingsItemText.vue
app/components/NotificationItem.vue
app/components/TimeFieldPicker.vue
app/components/StationPickerModal.vue
app/components/SettingsItemIconText.vue
app/components/deploy/NoteDisplay.vue
app/components/deploy/DeployReviewView.vue
app/components/deploy/DeployNotesView.vue
app/components/deploy/MakeAudioRecording.vue
app/components/deploy/FieldNoteForm.vue
app/components/deploy/EditNoteView.vue
app/components/deploy/AudioRecordings.vue
app/components/deploy/DeployMapView.vue
app/components/onboarding/AssembleStationView.vue
app/components/onboarding/Network.vue
app/components/onboarding/Recalibrate.vue
app/components/onboarding/Reconnecting.vue
app/components/onboarding/Start.vue
app/components/onboarding/RenameStation.vue
app/components/onboarding/AddModuleView.vue
app/components/onboarding/CalibratingModules.vue
app/components/onboarding/SearchFailed.vue
app/components/onboarding/AddWifi.vue
app/components/onboarding/Searching.vue
app/components/onboarding/NearbyStations.vue
app/components/StartupScreen.vue
app/components/AppSettingsAppearanceLanguageView.vue
app/components/AppSettingsPermissionsView.vue
app/components/LoginView.vue
app/components/AppSettingsAppearanceView.vue
# app/components/ModuleList.vue
app/components/settings/StationSettingsEndDeploy.vue
app/components/settings/StationSettingsWiFiSchedule.vue
app/components/settings/StationSettingsView.vue
app/components/settings/StationSettingsWiFiNetwork.vue
app/components/settings/StationSettingsFirmware.vue
app/components/settings/StationSettingsGeneral.vue
app/components/settings/StationSettingsModuleList.vue
app/components/settings/StationSettingsConnectionNote.vue
app/components/settings/StationSettingsCaptureSchedule.vue
app/components/settings/StationSettingsLoRa.vue
app/components/settings/StationSettingsNetworks.vue
app/components/settings/StationSettingsName.vue
app/components/settings/StationSettingsWiFi.vue
app/components/settings/UpgradeFirmwareModal.vue
app/components/AppSettingsNotificationsView.vue
app/components/NoStationsWannaAdd.vue
app/components/StationsMap.vue
app/components/AppSettingsAppearanceFontSizeView.vue
app/components/DataSyncView.vue
app/components/LabeledTextView.vue
app/components/StationDetailView.vue
app/components/DeveloperMenuView.vue
app/components/ScheduleEditor.vue
app/components/AppSettingsView.vue
app/components/IntervalEditor.vue
app/components/AppSettingsAccountAddView.vue
app/components/AppSettingsLegalView.vue
app/components/TimeFieldModalPicker.vue
app/components/ConnectionStatusHeader.vue
app/components/AppSettingsDataView.vue
app/components/NotificationModal.vue
app/components/TimePickerModal.vue
# app/components/StationListView.vue
app/components/AppSettingsAccountView.vue
app/calibration/__mocks__/Prepare.vue
app/calibration/__mocks__/Check.vue
app/calibration/__mocks__/Wait.vue
app/calibration/Prepare.vue
app/calibration/ProgressBarAndStatus.vue
app/calibration/Start.vue
app/calibration/Check.vue
app/calibration/Header.vue
app/calibration/CircularTimer.vue
app/calibration/Success.vue
app/calibration/Failure.vue
app/calibration/Calibrate.vue
app/calibration/Wait.vue
app/calibration/ChooseStrategy.vue

# MEH
app/lib/tns-i18n-deep.ts
app/store/logger.js
app/application.android.js
