{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "plugins": ["nativescript"],
    "rules": {
        "nativescript/no-short-imports": "error",
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "args": "all",
                "argsIgnorePattern": "^(_|state$|commit$|dispatch$)",
                "varsIgnorePattern": "^(_|state$|commit$|dispatch$)"
            }
        ]
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ]
}
