import Migration from "./Migration";
import { Database } from "@/wrappers/sqlite";

export class {MIGRATION_NAME} extends Migration {
    public async up(db: Database): Promise<void> {
        return db.batch([
			"SELECT 1+1"
        ]);
    }
}
