// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

* {
    font-family: "Avenir LT Pro", "AvenirLTPro-Medium", "Avenir";
}

.page {
    color: $fk-primary-black;
}

.plain {
    color: $fk-primary-black;
    font-size: 16;
}

.light {
    font-family: "Avenir LT Pro", "AvenirLTPro-Book";
    font-weight: 100;
}

.bold {
    font-family: "Avenir LT Pro", "AvenirLTPro-Heavy";
    font-weight: bold;
}

h1 {
    color: $fk-primary-black;
    font-family: "Avenir LT Pro", "AvenirLTPro-Heavy";
    font-weight: bold;
    font-size: 24;
}

.fk-h2 {
    color: $fk-primary-black;
    font-family: "Avenir LT Pro", "AvenirLTPro-Heavy";
    font-weight: bold;
    font-size: 22;
}

.title {
    color: $fk-primary-black;
    font-weight: bold;
    font-family: "Avenir LT Pro", "AvenirLTPro-Heavy";
    font-size: 16;
}
.subtitle {
    color: $fk-gray-hint;
    font-size: 14;
}
.size-10 {
    font-size: 10;
}
.size-12 {
    font-size: 12;
}
.size-14 {
    font-size: 14;
}
.size-15 {
    font-size: 15;
}
.size-16 {
    font-size: 16;
}
.size-18 {
    font-size: 18;
}
.size-20 {
    font-size: 20;
}
.size-24 {
    font-size: 24;
}
.size-26 {
    font-size: 26;
}

.btn-primary {
    font-size: 18;
    text-transform: none;
    font-family: "Avenir LT Pro", "AvenirLTPro-Heavy";
    font-weight: bold;
}

.btn-primary:active {
    border-color: $fk-gray-light;
    border-width: 1;
}

.pressed {
    background-color: $fk-gray-lighter;
}

.round-bkgd {
    width: 40;
    padding-bottom: 10;
    padding-top: 8;
    margin-top: 1;
    border-radius: 20;
}

.fa {
    font-family: "FontAwesome";
}

TextField {
    border-bottom-color: $fk-gray-lighter;
    border-bottom-width: 1;
    color: $fk-primary-black;
    padding-bottom: 5;
    width: 100%;
    font-size: 18;
}

.buttons-container {
    border-top-color: $fk-gray-lighter;
    border-top-width: 1;
	margin: 0;
	padding-top: 5;
    padding-left: 20;
    padding-right: 20;
    padding-bottom: 5;
    // background-color: #afefaf;

	Button {
		margin: 0;
		padding: 10;
	}

    .help-label {
		margin-top: 10;
		padding: 10;
        font-size: 14;
        font-weight: bold;
        text-align: center;
        height: 40;
		// background-color: #efafef;
    }

    .skip-label {
		margin-top: 10;
		padding: 10;
        font-size: 14;
        font-weight: bold;
        text-align: center;
        height: 40;
		// background-color: #efafaf;
    }

	.buttons-small-container {
		margin: 0;
		padding: 0;
		// background-color: #efefaf;
	}
}
