// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import "~nativescript-theme-core/scss/light";

// ** FieldKit colors **
// Primary
$fk-primary-blue: #0a67aa; // sky blue
$fk-primary-black: #2c3e50; // almost black
$fk-primary-red: #ce596b; // mauve/red
// Secondary
$fk-secondary-blue: #52b5e4; // turquoise
$fk-secondary-light-blue: #a0dbe1; // light turquoise
$fk-secondary-salmon: #f48e84; // salmon
$fk-secondary-peach: #fcdfca; // light peach
// Tertiary
$fk-tertiary-red: #c42c44; // red
$fk-tertiary-green: #3f8530; // green
$fk-tertiary-blue: #3f0b9b; // blue
$fk-tertiary-yellow: #3f0b9b; // yellow
$fk-tertiary-gray: #ede9e6; // light gray
$fk-tertiary-black: #464c51; // almost black
// Gray colors
$fk-gray-dark: #6b6d6f; // dark gray
$fk-gray-light: #cccdcf; // light gray
$fk-gray-lighter: #d8dce0; // lighter gray
$fk-gray-lightest: #f4f5f7; // lightest gray
$fk-gray-white: #fcfcfc; // almost white
$fk-gray-hint: #6a6d71; // for hint text
$fk-gray-border: #d8dec0; // under input fields
$fk-gray-text: #818388; // light gray text
// Logo Blue
$fk-logo-blue: #1b80c9; // logo blue

// Inactive tab label
$fk-inactive: #9a9fa6;

// Sizes
$base-font-size: 16;

$border-width: 1;
$border-radius: 3;

/**
 * Theme variables overrides
**/

// Colors
$background: $white;
$accent: $fk-primary-red;

// SideDrawer
$item-color-android: #737373;
$item-active-background: #f8f8f8;
$item-active-color: $accent;
$item-active-icon-color: $item-active-color;
$item-color-ios: $fk-primary-black;
$item-color-android: $fk-primary-black;

$side-drawer-header-background: #fafafa;
$side-drawer-header-brand: #737373;
$side-drawer-background: $white;

// ActionBar
$ab-background: $accent;
$ab-color: $white;

// Buttons
$btn-color-inverse: $white;
$btn-color: $accent;

//Text colors
$headings-color: $fk-primary-black;
$secondary: $fk-primary-black;
$text-color: $fk-primary-black;
