export default {
    dev: false,
    db: {
        drop: false,
    },
    mapbox: {
        token: "pk.eyJ1Ijoiamxld2FsbGVuIiwiYSI6ImNrNGFiMmlobzAyYTYzbGxoMGt1NGRmazYifQ.ACzetD69xjKhAYx7_Vf9ew",
        style: "mapbox://styles/mapbox/satellite-v9",
    },
    baseUri: "https://api.fieldkit.org",
    ingestionUri: "https://api.fieldkit.org/ingestion",
	defaultUsers: [],
};