<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FieldKit</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>25</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>FieldKit uses the camera to allow scanning of QR codes and capture of an image depicting the location of station deployment.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>FieldKit uses the photo library to allow selection of an image depicting the location and setting of station deployment.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>FieldKit uses the microphone to allow recording of notes in the field when deploying a station.</string>
	<key>NSLocationUsageDescription</key>
	<string>FieldKit uses your phone's location as a alternative means of fixing your station's location until a strong enough fix can be gotten on your station.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>FieldKit uses your phone's location as a alternative means of fixing your station's location until a strong enough fix can be gotten on your station.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>FieldKit uses your phone's location as a alternative means of fixing your station's location until a strong enough fix can be gotten on your station.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>

	<key>NSBonjourServices</key>
	<array>
		<string>_fk._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Locate and communicate with your FieldKit station.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<!--
		<key>NSExceptionDomains</key>
		<dict>
			<key>example.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
		-->
	</dict>
</dict>
</plist>
