// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

* {
    font-family: "Avenir LT Pro", "AvenirLTPro-Medium", "Avenir";
}

/* these are the only two styles action-bar accepts */
.action-bar {
    background-color: $fk-primary-red;
    color: white;
}

.plain {
    color: $fk-primary-black;
    font-size: 16;
}

.light {
    font-family: "Avenir LT Pro", "AvenirLTPro-Book";
    font-weight: 100;
}

.bold {
    font-family: "Avenir LT Pro", "AvenirLTPro-Heavy";
    font-weight: bold;
}

h1 {
    color: $fk-primary-black;
    font-family: "Avenir LT Pro", "AvenirLTPro-Heavy";
    font-weight: bold;
    font-size: 24;
}

.fk-h2 {
    color: $fk-primary-black;
    font-family: "Avenir LT Pro", "AvenirLTPro-Heavy";
    font-weight: bold;
    font-size: 22;
}

.title {
    color: $fk-primary-black;
    font-family: "Avenir LT Pro", "AvenirLTPro-Medium";
    font-size: 16;
}
.subtitle {
    color: $fk-gray-hint;
    font-size: 14;
}
.size-10 {
    font-size: 10;
}
.size-12 {
    font-size: 12;
}
.size-14 {
    font-size: 14;
}
.size-16 {
    font-size: 16;
}
.size-18 {
    font-size: 18;
}
.size-20 {
    font-size: 20;
}
.size-24 {
    font-size: 24;
}

.btn-primary {
    font-size: 18;
    text-transform: none;
    font-family: "Avenir LT Pro", "AvenirLTPro-Heavy";
    font-weight: bold;
}

.btn-primary:active {
    background-color: $fk-primary-blue;
}
.pressed {
    background-color: $fk-gray-lighter;
}

.btn-secondary {
    font-size: 18;
    text-transform: none;
    font-family: "Avenir LT Pro", "AvenirLTPro-Heavy";
    font-weight: bold;
    border-color: $fk-primary-red;
    border-width: 1;
}

.round-bkgd {
    width: 40;
    padding-bottom: 10;
    padding-top: 8;
    margin-top: 1;
    border-radius: 20;
}

.disconnect-warning {
    color: $fk-primary-black;
    font-size: 16;
    background-color: #FDDB7A;
    padding-top: 5;
    padding-bottom: 5;
}

//Font icon
.fa {
    font-family: "FontAwesome";
}
