// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

* {
    font-family: "Avenir LT Pro", "AvenirLTPro-Medium", "Avenir";
}

/* these are the only two styles action-bar accepts */
.action-bar {
    background-color: $fk-primary-red;
    color: white;
}

.plain {
    color: $fk-primary-black;
    font-size: 16;
}

.light {
    font-family: "Avenir LT Pro", "AvenirLTPro-Book";
    font-weight: 100;
}

.bold {
    font-family: "Avenir LT Pro", "AvenirLTPro-Heavy";
    font-weight: bold;
}

h1 {
    color: $fk-primary-black;
    font-family: "Avenir LT Pro", "AvenirLTPro-Heavy";
    font-weight: bold;
    font-size: 24;
}

.fk-h2 {
    color: $fk-primary-black;
    font-family: "Avenir LT Pro", "AvenirLTPro-Heavy";
    font-weight: bold;
    font-size: 22;
}

.title {
    color: $fk-primary-black;
    font-family: "Avenir LT Pro", "AvenirLTPro-Heavy";
    font-weight: bold;
    font-size: 16;
}

.size-10 {
    font-size: 10;
}
.size-12 {
    font-size: 12;
}
.size-14 {
    font-size: 14;
}
.size-16 {
    font-size: 16;
}
.size-20 {
    font-size: 20;
}
.size-24 {
    font-size: 24;
}

.btn-primary {
    font-size: 18;
    text-transform: none;
    font-family: "Avenir LT Pro", "AvenirLTPro-Heavy";
    font-weight: bold;
}
.btn-primary:active {
    background-color: $fk-primary-blue;
}
.pressed {
    background-color: $fk-gray-lighter;
}

.btn-secondary {
    font-size: 18;
    text-transform: none;
    font-family: "Avenir LT Pro", "AvenirLTPro-Heavy";
    font-weight: bold;
}

#drop-down-container {
    border-radius: 4;
    border-width: 1;
    border-color: $fk-gray-lighter;
}

.drop-down {
    font-size: 18;
    padding: 5;
}

.footer {
    border-top-color: $fk-gray-lightest;
    border-top-width: 2;
    margin-top: 10;
    margin-bottom: 5;
    padding-top: 10;
}

.footer-btn {
    padding-left: 10;
    padding-right: 10;
    border-radius: 10;
}

//Font icon
.fa {
   font-family: "FontAwesome";
}
