// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/scss/light';


// ** FieldKit colors **
// Primary
$fk-primary-blue: #0A67AA; // sky blue
$fk-primary-black: #2C3E50; // almost black
$fk-primary-red: #CE596B; // mauve/red
// Secondary
$fk-secondary-blue: #52B5E4; // turquoise
$fk-secondary-light-blue: #A0DBE1; // light turquoise
$fk-secondary-salmon: #F48E84; // salmon
$fk-secondary-peach: #FCDFCA; // light peach
// Tertiary
$fk-tertiary-red: #C42C44; // red
$fk-tertiary-green: #3F8530; // green
$fk-tertiary-blue: #3F0B9B; // blue
$fk-tertiary-yellow: #3F0B9B; // yellow
$fk-tertiary-gray: #EDE9E6; // light gray
$fk-tertiary-black: #464C51; // almost black
// Gray colors
$fk-gray-dark: #6B6D6F; // dark gray
$fk-gray-light: #CCCDCF; // light gray
$fk-gray-lighter: #D8DCE0; // lighter gray
$fk-gray-lightest: #F4F5F7; // lightest gray
$fk-gray-white: #FCFCFC; // almost white
$fk-gray-hint: #6A6D71; // for hint text
$fk-gray-border: #D8DEC0; // under input fields
// Logo Blue
$fk-logo-blue: #1B80C9; // logo blue

// Sizes
$base-font-size: 16;

$border-width: 1;
$border-radius: 3;

/**
 * Theme variables overrides
**/

// Colors
$background: $white;
$accent: $fk-primary-red;

// SideDrawer
$item-color-android : #737373;
$item-active-background: #F8F8F8;
$item-active-color: $accent;
$item-active-icon-color: $item-active-color;
$item-color-ios: $fk-primary-black;
$item-color-android: $fk-primary-black;

$side-drawer-header-background: #fafafa;
$side-drawer-header-brand: #737373;
$side-drawer-background: $white;

// ActionBar
$ab-background: $accent;
$ab-color: $white;

// Buttons
$btn-color-inverse: $white;
$btn-color: $accent;

//Text colors
$headings-color: $fk-primary-black;
$secondary: $fk-primary-black;
$text-color: $fk-primary-black;
