// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.ios';

// Import common styles
@import 'app-common';


.btn-padded {
    height: 45;
}

.disconnect-warning {
    padding-top: 10;
}

.module-name {
    margin-bottom: 2;
}

.bottom-bordered {
    // iOS-only padding
    padding-bottom: 3;
}

.checklist-item {
    margin-top: 5;
    margin-bottom: 5;
}