export const MAPBOX_ACCESS_TOKEN =  '';
export const MAPBOX_STYLE = 'mapbox://styles/mapbox/satellite-v9';
export const USERNAME = '';
export const PASSWORD = '';
export const CONFIG = {
    logging: {
        station_queries: false,
    },
};
